body {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  text-align: center;
  margin-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 30px;
}

.search-form-input {
  background-color: #f5f3fb;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 30%;
  padding: 15px 20px;
}

.button {
  background-color: #885df1;
  color: #ffff;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}

ul {
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  list-style: none;
}

.icon {
  width: 80px;
  height: 80px;
}
